<div *ngFor="let exercise of exercises">
  {{exercise.exerciseID.name}}<br>
  <form action="" (ngSubmit)="addSeries(exercise._id, myForm)" #myForm="ngForm">
    <label for="reps">
      Reps
      <input type="number" name="reps" [(ngModel)]="reps">
    </label>
    <label for="weight">
      Weight
      <input type="number" name="weight" [(ngModel)]="weight">
    </label>
    <div class="actions">
      <button class="btn" type="submit">Add series</button>
    </div>
  </form>
  <div *ngFor="let exerciseID of series">
    <div *ngIf="exercise.exerciseID._id == exerciseID.exerciseID">
      <ul>
          <div *ngFor="let serie of exerciseID.series; let i = index" [attr.data-index]="i">
            Reps: {{serie.reps}}
            Weight: {{serie.weight}}
            <button (click)="removeSeries($event, exerciseID._id, exerciseID.exerciseID)" value="{{i}}">X</button>
          </div>
      </ul>
    </div>
  </div>
</div>