@import 'reset';
@import 'fonts';
@import 'utils';

@mixin gradient($dir, $f_col, $f_per, $t_col, $t_per) {
  background: linear-gradient($dir, $f_col $f_per, $t_col $t_per);
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

.wrapper {
  max-width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 650px;
  &.login-page {
    @include gradient(190deg, $mango, 0%, $purple, 80%);
  }
  &.profile-page {
    @include gradient(190deg, $purple, 0%, $montecarlo, 70%);
    .profile-menu {
      &-tag {
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 15px;
        width: 50px;
        height: 50px;
        &:before,&:after {
          content: "";
          height: 3px;
          background-color: $white;
          position: absolute;
          left: 10px;
        }
        &:before {
          width: 30px;
          top: 20px;
        }
        &:after {
          width: 20px;
          top: 30px;
        }
      }
      &-edit {
        position: absolute;
        right: 30px;
        top: 25px;
        width: 30px;
        height: 30px;
        // background-color: $white;
        // border-radius: 50px;
      }
    }
    .profile-header {
      background-color: rgba($purple, 0.15);
      width: 120%;
      height: 250px;
      margin: 0 auto;
      margin-left: -30px;
      border-radius: 0 0 50% 50%;
      border-bottom: 10px solid rgba(128, 127, 254, 0.1);
      .content {
        img {
          position: absolute;
          left: 50%;
          margin-left: -50px;
          width: 100px;
          top: 70px;
          border-radius: 50%;
          border: 5px solid white;
        }
        .user-name {
          margin: 180px 30px 0;
          color: #FFFFFF;
          display: inline-block;
          text-align: center;
          width: 100vw;
          text-transform: uppercase;
          font-family: $mainFont;
          letter-spacing: 2px;
          font-size: 14px;
          .content {
            max-width: 150px;
            .special {
              font-family: $secondaryFont;
              font-size: 25px;
              letter-spacing: 3px;
              text-transform: lowercase;
            }
          }
        }
      }
    }
  }
  &.routine-page {
    padding-bottom: 380px;
    @include gradient(190deg, $mango, 0%, $purple, 80%);
    form {
      padding: 100px 50px 0;
    }
  }
  &.routine-page-create {
    @include gradient(190deg, $white, 0%, $purple, 80%);
  }
}

.routine-list {
  display: block;
  padding: 25px 25px 50px;
  &-item {
    border-radius: 40px;
    margin-top: 15px;
    border: 3px solid $white;
    &:hover {
      @include gradient(90deg, $montecarlo, 0%, $blue, 50%);
    }
    a {
      display: block;
      text-decoration: none;
      font-family: $mainFont;
      font-size: 16px;
      letter-spacing: 3px;
      color: $white;
      padding: 10px 15px;
    }
  }
}

.back-link {
  position: absolute;
  top: 30px;
  left: 30px;
  a {
    background-image: url('./assets/images/arrow-back.svg');
    display: block;
    width: 50px;
    height: 50px;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.add-routine {
  background-color: $white;
  border: none;
  font-size: 30px;
}

.reps-form {
  padding: 0!important;
  display: none;
  label {
    width: 50%;
    float: left;
  }
  &.active {
    display: block;
  }
  .pre {
    padding: 0;
  }
}

.main-wrapper {
  height: 100vh;
  position: relative;
}

.actions {
  padding: 50px;
  bottom: 60px;
  left: 50px;
  right: 50px;
  &.abs {
    position: absolute;
    padding: 0;
  }
  &.sth {
    .btn.act {
      background-color: transparent;
      color: $mango;
      border: 3px solid $mango;
      &:hover {
        color: $white;
        border-color: $white;
      }
      &.train {
        border: 3px solid white;
        color: $white;
        background-color: $purple;
        &:hover {
          color: $white;
          background-color: transparent;
        }
      }
    }
    .logout:hover {
      background-color: transparent!important;
    }
  }
}

.main-icon {
  position: absolute;
  top: 170px;
  width: 96px;
  display: block;
  margin: 0 auto;
  left: 50%;
  margin-left: -48px;
}

.unicorn {
  @include gradient(190deg, $grapefruit, 0%, $mango, 80%);
  transition: all $slow $easing;
  &.hidden {
    height: 0;
  }
}

.fit {
  font-family: $secondaryFont;
  letter-spacing: 3px;
}

.actions {
  .btn {
    text-transform: uppercase;
    padding: 20px 40px;
    border: none;
    font-size: 16px;
    line-height: 25px;
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: transparent;
    border: 3px solid $white;
    color: $white;
    font-weight: bold;
    cursor: pointer;
     &.logout {
      background-color: $grapefruit;
      border: 3px solid transparent;
      color: $white;
      &:hover {
        border: 3px solid $grapefruit;
        background-color: $white;
        color: $grapefruit;
      }
    }
    &.create-routine {
      background-color: $purple;
      border: 3px solid transparent;
      color: $white;
      &:hover {
        border: 3px solid $purple;
        background-color: $white;
        color: $purple;
      }
    }
    + .btn {
      margin-top: 10px;
    }
    &:hover {
      @extend .fit;
      font-size: 30px;
      text-transform: lowercase;
    }
  }
}

form {
  display: block;
  margin: 0 auto;
  padding: 100px 60px 0;
  input {
    width: 100%;
  }
}

.routine-name {
  position: absolute;
  right: 50px;
  top: 50px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

label {
  font-size: 15px;
  display: block;
  margin: 30px 0 10px;
  text-transform: uppercase;
  color: $white;
}

input {
  background-color: transparent;
  border: 0;
  font-family: $secondaryFont;
  border-bottom: 3px solid $white;
  color: $white;
  font-size: 40px;
  padding: 5px 10px;
}

.exercise-list {
  position: relative;
  .actions {
    &.abs {
      position: initial!important;
      padding: 0;
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 18px;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: $white transparent transparent transparent;
  }
}

select {
  border: 3px solid #FFFFFF;
  -webkit-appearance: none;
  padding: 10px;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  width: 100%;
  position: relative;
}

.exercise-listed-wrapper {
  width: 300px;
  overflow: hidden;
}


.card {
  // box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .5);
  height: 80px;
  margin-top: 10px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  transition: all 1s ease-in-out;
  li {
    display: inline;
    border: 3px solid $white;
    padding: 20px;
    margin-right: 10px;
    label, input {
      display: inline-block;
      width: auto;
      color: $white;
    }
  }
}

  ::-webkit-scrollbar { 
    display: none;
  }

app-exercise-list {
  .actions {
    padding: 0;
  }
}

.selected-exercises {
  padding: 30px 60px;
  list-style-type: initial;
  li {
    cursor: pointer;
    text-transform: capitalize;
    color: $white;
    line-height: 23px;
    + li {
      margin-top: 10px;
    }
  }
}

.profile-menu-content {
  width: 0px;
  background-color: $white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: all $faster $easing;
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: $grayDarker;
    cursor: pointer;
  }
  .actions {
    display: none;
    transition: all $slow $easing;
    transition-delay: $slow;
  }
  .quote {
    display: none;
  }
  &.active {
    width: 100%;
    .quote {
      display: block;
      margin: 220px auto 0;
      max-width: 300px;
      font-size: 55px;
      line-height: 50px;
      .fit {
        font-size: 85px;
        color: $purple;
      }
    }
    .actions {
      display: block;
    }
  }
}
