@import url("https://fonts.googleapis.com/css?family=Kristi");
* {
  box-sizing: border-box;
}

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
}

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "San Francisco", sans-serif;
}

.wrapper {
  max-width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.wrapper.login-page {
  background: linear-gradient(190deg, #FFC279 0%, #807FFE 80%);
}

.wrapper.profile-page {
  background: linear-gradient(190deg, #807FFE 0%, #68D9D1 70%);
}

.wrapper.profile-page .profile-menu-tag {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 15px;
  width: 50px;
  height: 50px;
}

.wrapper.profile-page .profile-menu-tag:before, .wrapper.profile-page .profile-menu-tag:after {
  content: "";
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  left: 10px;
}

.wrapper.profile-page .profile-menu-tag:before {
  width: 30px;
  top: 20px;
}

.wrapper.profile-page .profile-menu-tag:after {
  width: 20px;
  top: 30px;
}

.wrapper.profile-page .profile-menu-edit {
  position: absolute;
  right: 30px;
  top: 25px;
  width: 30px;
  height: 30px;
}

.wrapper.profile-page .profile-header {
  background-color: rgba(128, 127, 254, 0.15);
  width: 120%;
  height: 250px;
  margin: 0 auto;
  margin-left: -30px;
  border-radius: 0 0 50% 50%;
  border-bottom: 10px solid rgba(128, 127, 254, 0.1);
}

.wrapper.profile-page .profile-header .content img {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  top: 70px;
  border-radius: 50%;
  border: 5px solid white;
}

.wrapper.profile-page .profile-header .content .user-name {
  margin: 180px 30px 0;
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  width: 100vw;
  text-transform: uppercase;
  font-family: "San Francisco", sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
}

.wrapper.profile-page .profile-header .content .user-name .content {
  max-width: 150px;
}

.wrapper.profile-page .profile-header .content .user-name .content .special {
  font-family: "Kristi", cursive;
  font-size: 25px;
  letter-spacing: 3px;
  text-transform: lowercase;
}

.wrapper.routine-page {
  background: linear-gradient(190deg, #FFC279 0%, #807FFE 80%);
}

.wrapper.routine-page-create {
  background: linear-gradient(190deg, #FFFFFF 0%, #807FFE 80%);
}

.routine-list {
  display: block;
  padding: 25px 25px 50px;
}

.routine-list-item {
  border-radius: 40px;
  margin-top: 15px;
  border: 3px solid #FFFFFF;
}

.routine-list-item:hover {
  background: linear-gradient(90deg, #68D9D1 0%, #6DBFD7 50%);
}

.routine-list-item a {
  display: block;
  text-decoration: none;
  font-family: "San Francisco", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #FFFFFF;
  padding: 10px 15px;
}

.back-link {
  position: absolute;
  top: 30px;
  left: 30px;
}

.back-link a {
  background-image: url("./assets/images/arrow-back.svg");
  display: block;
  width: 50px;
  height: 50px;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.add-routine {
  background-color: #FFFFFF;
  border: none;
  font-size: 30px;
}

.main-wrapper {
  height: 100vh;
  position: relative;
}

.actions {
  padding: 50px;
  bottom: 60px;
  left: 50px;
  right: 50px;
}

.main-icon {
  position: absolute;
  top: 200px;
  width: 104px;
  height: 84px;
  display: block;
  margin: 0 auto;
  left: 50%;
  margin-left: -52px;
}

.unicorn {
  background: linear-gradient(190deg, #FF6771 0%, #FFC279 80%);
}

.fit, .actions .btn:hover {
  font-family: "Kristi", cursive;
  letter-spacing: 3px;
}

.actions {
  padding: 20px 0;
}

.actions .btn {
  text-transform: uppercase;
  padding: 20px 40px;
  border: none;
  font-size: 16px;
  line-height: 25px;
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: transparent;
  border: 3px solid #FFFFFF;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}

.actions .btn.logout {
  background-color: #FF6771;
  border: 3px solid transparent;
  color: #FFFFFF;
}

.actions .btn.logout:hover {
  border: 3px solid #FF6771;
  background-color: #FFFFFF;
  color: #FF6771;
}

.actions .btn.create-routine {
  background-color: #807FFE;
  border: 3px solid transparent;
  color: #FFFFFF;
}

.actions .btn.create-routine:hover {
  border: 3px solid #807FFE;
  background-color: #FFFFFF;
  color: #807FFE;
}

.actions .btn + .btn {
  margin-top: 10px;
}

.actions .btn:hover {
  font-size: 30px;
  text-transform: lowercase;
}

form {
  display: block;
  margin: 0 auto;
  padding: 100px 60px 0;
}

form input {
  width: 100%;
}

.routine-name {
  position: absolute;
  right: 50px;
  top: 50px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2px;
}

label {
  font-size: 15px;
  display: block;
  margin: 30px 0 10px;
  text-transform: uppercase;
  color: #FFFFFF;
}

input {
  background-color: transparent;
  border: 0;
  font-family: "Kristi", cursive;
  border-bottom: 3px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 40px;
  padding: 5px 10px;
}

.exercise-list {
  position: relative;
}

.exercise-list:after {
  content: "";
  position: absolute;
  top: 18px;
  right: 15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #FFFFFF transparent transparent transparent;
}

select {
  border: 3px solid #FFFFFF;
  -webkit-appearance: none;
  padding: 10px;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  width: 100%;
  position: relative;
}

.card {
  margin-top: 30px;
  max-height: 200px;
  margin-left: -60px;
  margin-right: -60px;
  overflow-y: scroll;
  background-color: #FFFFFF;
  border-top: 3px solid #FFFFFF;
  transition: all 1s ease-in-out;
}

.exercise-listed-item:hover {
  border: 2px solid orangered;
}

.exercise-listed-item label, .exercise-listed-item input {
  display: inline-block;
  width: auto;
  color: #7B7979;
}

.selected-exercises {
  padding: 30px 60px;
}

.selected-exercises li {
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 23px;
}

.selected-exercises li + li {
  margin-top: 10px;
}

.profile-menu-content {
  width: 0px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.profile-menu-content .close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #7B7979;
  cursor: pointer;
}

.profile-menu-content .actions {
  display: none;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 2s;
}

.profile-menu-content.active {
  width: 100%;
}

.profile-menu-content.active .actions {
  display: block;
}
 

 /*# sourceMappingURL= styles.css.map */