<div *ngIf="(data)">
<h1> {{data.routine.name}} </h1>
</div>
<h2> Add exercises </h2>
<form>
  <fieldset>
    <app-exercise-list [routineID]="routineID"></app-exercise-list>
  </fieldset>
</form>
<div>
  <div *ngFor="let exercise of exercises">
    {{exercise.exerciseID.name}}<br>
    <form action="" (ngSubmit)="addSeries(exercise._id, myForm)" #myForm="ngForm">
      <label for="reps">
        Reps
        <input type="number" name="reps" [(ngModel)]="reps">
      </label>
      <label for="weight">
        Weight
        <input type="number" name="weight" [(ngModel)]="weight">
      </label>
      <button type="submit">Add series</button>
    </form>
    <div *ngFor="let exerciseID of series">
      <div *ngIf="exercise.exerciseID._id == exerciseID.exerciseID">
        <ul>
            <div *ngFor="let serie of exerciseID.series">
              Reps: {{serie.reps}}
              Weight: {{serie.weight}}
            </div>
        </ul>
      </div>
    </div>
  </div>
</div>
<button (click)="remove(data.routine._id)">Delete routine</button>
<a [routerLink]="['']"> Back to routine list </a>
