<div class="wrapper profile-page">
  <div class="profile-menu">
    <div class="profile-menu-tag" (click)="isHidden = !isHidden"></div>
    <div class="profile-menu-content" [ngClass]="{'active': !isHidden}">
      <div class="quote">
        Work hard and play <span class="fit">even harder</span>
      </div>
      <div class="actions abs">
        <button [routerLink]="['routine', 'add']" class="btn create-routine">New routine</button>
        <button class="btn logout" (click)="logout()">Log out</button>
      </div>
      <div class="close" (click)="isHidden = !isHidden">X</div>
    </div>
  </div>
  <div class="profile-header">
    <div class="content">
        <img src="assets/images/selfie.png" alt="">
      <span class="user-name">
        <span class="content">
          11 AUG 17
        </span>
      </span>
    </div>
  </div>
  <div>
    <ul class="routine-list">
      <li class="routine-list-item" *ngFor="let routine of routines">
      <a [routerLink]="['routine', routine._id]"> 
          {{ routine.name | uppercase }}
        </a>
      </li>
    </ul>
  </div>
</div>
